body{
    background-image: url(https://imgs.search.brave.com/E40bqRT6sE8c1ak0dUBzytaNzaF4PtSySUHVhgM4CC8/rs:fit:1200:1200:1/g:ce/aHR0cDovL3d3dy5o/ZHdhbGxwYXBlcnNw/dWxzZS5jb20vd3At/Y29udGVudC91cGxv/YWRzLzIwMjAvMDEv/YXdlc29tZS1oZC1U/aGFuay1Zb3UtSW1h/Z2VzLmpwZWc);
    text-align: center;
    color: blueviolet;
}